{% extends "paperbacks_ink/base.html" %}

{% block content %}

<title>About Us</title>
<p>About Us</p>

<p>Friendly people that love books and love providing them to the people of Hampton Roads, VA.</p>

<p>Over 40,000 new and used books for sale.   Constant turn over, new titles almost daily.</p>

<p>Part of the Hampton Roads community for 38+ years.  Dedicated to helping book lovers find books to love.</p>

<p>Trade Ins are ALWAYS welcome!​</p>

<p>Trade-in books get 25% of cover price - in store credit towards the purchase of more books.</p>

<p>Used books sold for 50% of cover price.</p>

{% load static %}
<img src= "{% static 'award.jpg' %}">

{% endblock content %}





