{% extends "paperbacks_ink/base.html" %}

{% block content %}

<title>Events</title>
<h1>Events</h1>

<h2>We host craft nights, book signings, and book readings for children (among other literary events).</h2>

<h2>Please check <a href="https://www.facebook.com/paperbacksink/">our Facebook page</a> first for current
    event postings.</h2>

{% load static %}
<img src="{% static 'fairytale_day.jpg' %}" width="200" height="200">

{% load static %}
<img src="{% static 'manuscripts.jpg' %}" width="200" height="200">

{% load static %}
<img src="{% static 'picture_board.jpg' %}" width="200" height="200">

{% load static %}
<img src="{% static 'string_art.jpg' %}" width="200" height="200">

{% load static %}
<img src="{% static 'author.jpg' %}" width="400" height="200">

{% load static %}
<img src="{% static 'painting.jpg' %}" width="200" height="200">

{% load static %}
<img src="{% static 'snowflakes.jpg' %}" width="200" height="200">

{% load static %}
<img src="{% static 'xmas_trees.jpg' %}" width="200" height="200">

{% endblock content %}