{% extends "paperbacks_ink/base.html" %}

{% block content %}

<title>Paperbacks Ink</title>

<h1>Paperbacks Ink</h1>

<h2>If I'm ever stranded, let it be in a bookstore!</h2>

<p>We are a used paperback bookstore who trades and sells used papaerback books.
   Paperbacks Ink has been part of the Hampton Roads community since 1982.</p>

<p>Don't just come in to browse our selection of over 50,000 titles that turn over daily. We also proudly brew teas from
    Discover Tea and coffee from Norfolk Coffee & Tea Co. Every month we have different themed drinks, as well as craft
    nights and book signings with local authors.
</p>

   <p>Trade-in books get 25% of cover price - in store credit towards purchase of more books.</p>

   <p>Used books sell for 50% of cover price.</p>

{% load static %}
<img src= "{% static 'kids_books.jpg' %}" width="200" height="200">

{% load static %}
<img src= "{% static 'store_front.jpg' %}" width="200" height="200">

{% load static %}
<img src= "{% static 'women.jpg' %}" width="200" height="200">

{% load static %}
<img src= "{% static 'black_history.jpg' %}" width="200" height="200">

{% load static %}
<img src= "{% static 'books.jpg' %}" width="200" height="200">

{% load static %}
<img src= "{% static 'customers.jpg' %}" width="200" height="200">

{% load static %}
<img src= "{% static 'shelves_chair.jpg' %}" width="200" height="200">

{% load static %}
<img src= "{% static 'bernie.jpg' %}" width="200" height="200">

{% load static %}
<img src= "{% static 'books_local.jpg' %}" width="200" height="200">


{% endblock content %}